@import "bootstrap/scss/variables";

@media all {
    header {
        background-color: #fff;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #46974b;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
    }

    header .container {
        /* display: flex;
                justify-content: space-between; */
    }

    header nav {
        height: 50px;
    }

    header nav .container h1 {
        width: 150px;
        margin-bottom: 0;
    }

    header nav .container .gnb {
        display: none;
    }

    header nav .container .navbar-toggler {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.25rem 0.75rem;
        border: 0;
        position: relative;
        z-index: 1;
    }

    header nav .container .navbar-toggler::before {
        content: '';
        display: block;
        width: 1rem;
        height: 2px;
        margin-bottom: 0.2rem;
        background-color: #666;
        transition: all 0.2s;
    }

    header nav .container .navbar-toggler span {
        display: block;
        width: 1rem;
        height: 2px;
        margin-bottom: 0.2rem;
        background-color: #666;
    }

    header nav .container .navbar-toggler::after {
        content: '';
        display: block;
        width: 1rem;
        height: 2px;
        background-color: #666;
        transition: all 0.2s;
    }

    header nav .container .navbar-toggler.on::before {
        transform: translateY(calc(0.2rem + 2px)) rotate(45deg);
        background-color: #fff;
    }

    header nav .container .navbar-toggler.on span {
        opacity: 0;
    }

    header nav .container .navbar-toggler.on::after {
        transform: translateY(calc(-0.2rem - 2px)) rotate(-45deg);
        background-color: #fff;
    }

    /* / */
    header nav .navigation {
        padding: .5rem 0;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/nav-bg.jpg);
        background-size: cover;
        background-position: center center;
        transition: all 0.3s;
    }

    header nav .navigation.on {
        display: block;
        overflow: hidden scroll;

    }

    header nav .navigation .nav-logo {
        width: 150px;
        height: 50px;

    }

    header nav .navigation .nav-logo a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    header nav .navigation .sub-nav-container {
        width: 100%;
    }

    header nav .navigation .navbar-nav {
        display: block;
        width: 100%;
    }

    header nav .navigation .navbar-nav .nav-item {
        background-color: transparent;
        overflow: hidden;
        border: 0;
        border-radius: 0;
    }

    header nav .navigation .navbar-nav .nav-item .accordion-header {}

    header nav .navigation .navbar-nav .nav-item .nav-item-title {
        font-weight: 600;
        font-size: 20px;
        height: 60px;
        display: flex;
        align-items: center;
        box-shadow: unset;

    }

    header nav .navigation .navbar-nav .nav-item .nav-item-title::after {
        border: 0;
    }

    header nav .navigation .navbar-nav .nav-item a,
    header nav .navigation .navbar-nav .nav-item .nav-item-title {
        display: block;
        width: 100%;
        text-align: left;
        padding: .5rem 1.25rem;
        position: relative;
        color: #fff;
        background-color: transparent;
        border: 0;
    }

    header nav .navigation .navbar-nav .nav-item .nav-item-title.active::after {
        content: '';
        display: block;
        width: 3px;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
    }

    header nav .navigation .navbar-nav .nav-item .nav-sub .nav-sub-item a:hover {
        color: #46974b;
        font-weight: 500;
    }

    header nav .navigation .navbar-nav .nav-item .nav-sub {
        padding-left: .5rem;

    }

    header nav .navigation .navbar-nav .nav-item .nav-sub .nav-sub-item {}

    header nav .navigation .navbar-nav .nav-item .nav-sub .nav-sub-item a {
        display: block;
        padding-top: .25rem;
        padding-bottom: .25rem;
    }

    header nav .navigation .navbar-nav .nav-item .nav-sub .nav-sub-item a::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        opacity: 0.25;
        margin-top: .25rem;
    }

    main {
        padding-top: 51.67px;
    }

    main section {
        max-width: 1920px;
        margin: 0 auto;
    }

    .intro {
        background-image: url(../images/main-visual-m.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 400px;

    }

    .intro .container {
        height: 100%;
    }

    .intro .container .main-copy {
        font-weight: 800;
        color: #004438;
        /* color: #fff; */
        text-shadow: 3px 3px 3px rgba(255,255,255,0.5);
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .med-dept {
        background-image: url(../images/dept-bg.jpg);
        background-size: cover;
        background-position: center center;
    }

    .med-dept .container {}

    .med-dept .container h3 {
        color: #fff;
        text-align: center;
    }

    .med-dept .container .wrap .row .col {}

    .med-dept .container .wrap .row .col>div {
        background-color: #007C5255;
        border: 1px solid #fff;
    }

    .med-dept .container .wrap .row .col>div a {
        display: block;
        width: 100%;

    }

    .med-dept .container .wrap .row .col>div a img {
        height: 52px;
        margin: 0 auto;
    }

    .med-dept .container .wrap .row .col>div a .t5 {
        font-weight: 600;
        color: #fff;
        text-align: center;
    }

    .med-dept .container .wrap .btn-more a {
        color: #fff;
        border: 1px solid #fff;
        display: inline-block;

    }

    .med-staff{overflow: hidden;}    
    .med-staff .container{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }    
    .med-staff .container .image{
        width: 60%;
        margin-left: auto;
        transform: translateX(-60%);
        opacity: 0;
    }    
    .med-staff .container .txt{}    
    .med-staff .container .txt .t6{color: #46974b;}    
    .med-staff .container .txt .t1{
        margin: 3.5rem 0 1rem;
    }    
    .med-staff .container .txt .t5{}    
    .med-staff .container .txt .btn-more{}    
    .med-staff .container .txt .chief{
        position: absolute;
        bottom: 0;
        left: .5rem;
    }    
    .med-staff .container .txt .chief .role{}    
    .med-staff .container .txt .chief .name{
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: .5rem;
        margin-left: .5rem;
        
    }
    .med-staff .container .copy{
        font-size: 6rem;
        position: absolute;
        bottom: 30%;
        left: 0;
        width: max-content;
        font-weight: 800;
        color: #f0f0f0;
        z-index: -1;
        transform: translateX(100%);
    }

    .facility {
        background-color: #CCE5DC;
    }
    .facility .container {}
    .facility .container .t3{}
    .facility .container .t3 .t6{
        color: #004438;
    }
    .facility .container .wrap{}
    .facility .container .wrap .finder{}
    .facility .container .wrap .finder .swiper-scrollbar{display: none;}
    .facility .container .wrap .finder .item{
        background-color: #fff;
        height: 130px;
        display: flex;
        flex-direction: column;
    }
    .facility .container .wrap .finder .item.swiper-slide-thumb-active{
        background-color: #4F9786;
        color: #fff;
    }
    .facility .container .wrap .finder .item .num{
        color: #4F9786;
    }
    .facility .container .wrap .finder .item.swiper-slide-thumb-active .num{
        color: #fff;
    }
    .facility .container .wrap .finder .item .label{
        color: #4F9786;
    }
    .facility .container .wrap .finder .item.swiper-slide-thumb-active .label{
        color: #fff;
    }
    .facility .container .wrap .finder .item .tit{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .facility .container .wrap .finder .item .tit img{
        margin-top: auto;
        margin-left: auto;
        width: 35px;
    }
    .facility .container .wrap .finder .item.swiper-slide-thumb-active .tit img{
        display: none;
    }

    .facility .container .wrap .image-view{
    }
    .facility .container .wrap .image-view .view{
    }
    .facility .container .wrap .image-view .view .swiper-button-next,
    .facility .container .wrap .image-view .view .swiper-button-prev{
        display: none;
    }
    .facility .container .wrap .image-view .view .swiper-slide{
        height: 300px;
        background-color: #fff;
    }

    .facility .container .wrap .image-view .view .swiper-slide{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .facility .container .wrap .image-view .view.v1 .swiper-slide:nth-child(1){background-image: url(/images/210128면력-1038.jpg);}
    /* .facility .container .wrap .image-view .view.v1 .swiper-slide:nth-child(2){background-image: url(/images/210128면력-1044.jpg);} */
    /* .facility .container .wrap .image-view .view.v1 .swiper-slide:nth-child(3){background-image: url(/images/210128면력-1063.jpg);} */
    /* .facility .container .wrap .image-view .view.v1 .swiper-slide:nth-child(4){background-image: url(/images/210128면력-1046.jpg);} */
    /* .facility .container .wrap .image-view .view.v1 .swiper-slide:nth-child(5){background-image: url(/images/210128면력-1070.jpg);} */
    .facility .container .wrap .image-view .view.v2 .swiper-slide:nth-child(1){background-image: url(/images/210128면력-1085.jpg);}
    /* .facility .container .wrap .image-view .view.v2 .swiper-slide:nth-child(2){background-image: url(/images/210128면력-1093.jpg);} */
    /* .facility .container .wrap .image-view .view.v2 .swiper-slide:nth-child(3){background-image: url(/images/210128면력-1162.jpg);} */
    /* .facility .container .wrap .image-view .view.v2 .swiper-slide:nth-child(4){background-image: url(/images/210128면력-1168.jpg);} */
    /* .facility .container .wrap .image-view .view.v2 .swiper-slide:nth-child(5){background-image: url(/images/210128면력-1171.jpg);} */
    .facility .container .wrap .image-view .view.v3 .swiper-slide:nth-child(1){background-image: url(/images/210128면력-1214.jpg);}
    /* .facility .container .wrap .image-view .view.v3 .swiper-slide:nth-child(2){background-image: url(/images/210128면력-1222.jpg);} */
    /* .facility .container .wrap .image-view .view.v3 .swiper-slide:nth-child(3){background-image: url(/images/210128면력-1283.jpg);} */
    /* .facility .container .wrap .image-view .view.v3 .swiper-slide:nth-child(4){background-image: url(/images/210128면력-1565.jpg);} */
    /* .facility .container .wrap .image-view .view.v3 .swiper-slide:nth-child(5){background-image: url(/images/210128면력-1038.jpg);} */
    .facility .container .wrap .image-view .view.v4 .swiper-slide:nth-child(1){background-image: url(/images/210128면력-1044.jpg);}
    /* .facility .container .wrap .image-view .view.v4 .swiper-slide:nth-child(2){background-image: url(/images/210128면력-1046.jpg);} */
    /* .facility .container .wrap .image-view .view.v4 .swiper-slide:nth-child(3){background-image: url(/images/210128면력-1063.jpg);} */
    /* .facility .container .wrap .image-view .view.v4 .swiper-slide:nth-child(4){background-image: url(/images/210128면력-1070.jpg);} */
    /* .facility .container .wrap .image-view .view.v4 .swiper-slide:nth-child(5){background-image: url(/images/210128면력-1085.jpg);} */
    .facility .container .wrap .image-view .view.v5 .swiper-slide:nth-child(1){background-image: url(/images/210128면력-1093.jpg);}
    /* .facility .container .wrap .image-view .view.v5 .swiper-slide:nth-child(2){background-image: url(/images/210128면력-1162.jpg);} */
    /* .facility .container .wrap .image-view .view.v5 .swiper-slide:nth-child(3){background-image: url(/images/210128면력-1168.jpg);} */
    /* .facility .container .wrap .image-view .view.v5 .swiper-slide:nth-child(4){background-image: url(/images/210128면력-1171.jpg);} */
    /* .facility .container .wrap .image-view .view.v5 .swiper-slide:nth-child(5){background-image: url(/images/210128면력-1214.jpg);} */

    .contact {
        background-color: #004438;
    }
    .contact .container {}
    .contact .container .t3{
        color: #fff;
        text-align: center;
    }
    .contact .container .wrap{}
    .contact .container .wrap .address{
        margin-top: 1rem;
    }
    .contact .container .wrap .address .method{
        color: #fff;
        margin-bottom: 1rem;
    }
    .contact .container .wrap .address .method .tit{
        font-weight: 600;
    }
    .contact .container .wrap .address .method .txt{
        font-size: 14px;
        color: #f0f0f0;
    }
    .contact .map{
        width: 100%;
        height: 400px;
        background-image: url(../images/map-demo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .quick{}
    .quick .container{}
    .quick .container .row{}
    .quick .container .row .quick-menu{
        background-color: #CCE5DC;
        text-align: center;
        border-radius: 12px;
    }
    .quick .container .row .quick-menu img{
        margin: 0 auto;
        min-height: 30px;
    }

    footer{
        background-color: #004438;
    }

    footer .container{
        color: #fff;
    }
    footer .container h2{
        width: 240px;
        margin: 0 auto;
    }
    footer .container h2 img{
        display: block;
        margin: 0 auto;
    }
    footer .container .wrap{}
    footer .container .wrap .fnb{}
    footer .container .wrap .fnb div{
        text-align: center;
    }
    footer .container .wrap .fquick{}
    footer .container .wrap .fquick div{
        text-align: center;
    }
    footer .container .wrap .fquick div a{
        display: block;
        border: 1px solid #fff;
    }
    footer .container .wrap .fquick div a:hover{
        background-color: #4F9786;;
        color: #fff;
    }
    footer .container .wrap address{
        color: #C0C0C0;
    }
    footer .container .wrap .copy{
        color: #4F9786;
    }
}

@media (min-width: 576px) {
    header {
        height: 70px;
    }

    header nav {
        height: 100%;
    }

    header nav h1 {
        margin-bottom: 0;
    }

    main {
        padding-top: 70px;
    }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .m {
        display: none;
    }

    .pc {
        display: block;
    }

    header {
        height: 100px;
    }

    header nav .container h1 {
        width: 220px;
    }

    header nav .container .navbar-toggler {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.25rem 0.75rem;
        border: 0;
        position: relative;
        z-index: 1;
    }

    header nav .container .navbar-toggler::before {
        width: 1.5rem;
        height: 3px;
        margin-bottom: 0.35rem;
    }

    header nav .container .navbar-toggler span {
        display: block;
        width: 1.5rem;
        height: 3px;
        margin-bottom: 0.35rem;
    }

    header nav .container .navbar-toggler::after {
        width: 1.5rem;
        height: 3px;
    }

    header nav .container .navbar-toggler.on::before {
        margin-bottom: 0;
        transform: translateY(calc(0)) rotate(45deg);
    }

    header nav .container .navbar-toggler.on::after {
        transform: translateY(calc(0)) rotate(-45deg);
    }

    main {
        padding-top: 100px;
    }

    .intro {
        background-image: url(../images/main-visual.jpg);
        height: 640px;
    }

    .intro .container {}

    .intro .container .main-copy {
        text-align: left;
        justify-content: flex-start;
    }

    .med-staff .container{
        flex-direction: row;
    }    
    .med-staff .container .image{
        width: 40%;
        margin-right: 2.5rem;
        margin-left: 0;
    }    
    .med-staff .container .txt{padding-top: 10rem;}    
    .med-staff .container .txt .t1{
        margin: 5rem 0 2rem;
    }    
    .med-staff .container .txt .chief{
        position: unset;
        margin-top: 4rem;
    }    
    .med-staff .container .txt .chief .name{
        font-size: 1.5rem;
    }
    .med-staff .container .copy{
        font-size: 10rem;
        bottom: unset;
        top: 20%;
    }

    .med-staff{overflow: hidden;}    
    .med-staff .container{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }    
    .med-staff .container .image{
        width: 60%;
        margin-left: auto;
    }    
    .med-staff .container .txt{}    
    .med-staff .container .txt .t6{color: #46974b;}    
    .med-staff .container .txt .t1{
        margin: 3.5rem 0 1rem;
    }    
    .med-staff .container .txt .t5{}    
    .med-staff .container .txt .btn-more{}    
    .med-staff .container .txt .chief{
        position: absolute;
        bottom: 0;
        left: .5rem;
    }    
    .med-staff .container .txt .chief .role{}    
    .med-staff .container .txt .chief .name{
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: .5rem;
        margin-left: .5rem;
        
    }
    .med-staff .container .copy{
        font-size: 6rem;
        position: absolute;
        bottom: 30%;
        left: 0;
        width: max-content;
        font-weight: 800;
        color: #f0f0f0;
        z-index: -1;
    }

    .facility .container .t3{
        text-align: center;
    }
    .facility .container .wrap{
        display: flex;
    }
    .facility .container .wrap .finder{
        width: 47.5%;
        height: 420px;
    }
    .facility .container .wrap .finder .swiper-scrollbar{display: block;}
    .facility .container .wrap .finder .item{
        height: unset;
        position: relative;
    }
    .facility .container .wrap .finder .item .num{
        position: absolute;
        top: 1.5rem;
        left: 1rem;
    }
    .facility .container .wrap .finder .item .label{
        margin-left: 1.5rem;
    }
    .facility .container .wrap .finder .item .tit{
        margin-left: 1.5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .facility .container .wrap .finder .item .tit img{
        margin-top: auto;
        margin-left: auto;
        width: 35px;
    }
    .facility .container .wrap .finder .item.swiper-slide-thumb-active .tit img{
        display: none;
    }

    .facility .container .wrap .image-view{
        width: 47.5%;
        height: 420px;
    }
    .facility .container .wrap .image-view .view{

    }
    .facility .container .wrap .image-view .view .swiper-slide{
        height: 100%;
        background-color: #fff;
    }
    .facility .container .wrap .image-view .view .swiper-pagination .swiper-pagination-bullet{
        background-color: #4F9786;
    }
    .facility .container .wrap .image-view .view .swiper-pagination .swiper-pagination-bullet-active{
        background-color: #004438;
    }
    .facility .container .wrap .image-view .view .swiper-button-next,
    .facility .container .wrap .image-view .view .swiper-button-prev{
        display: block;
    }
    .facility .container .wrap .image-view .view .swiper-button-next span,
    .facility .container .wrap .image-view .view .swiper-button-prev span{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: #4F9786;
        color: #fff;
        border-radius: 50%;
    }
    .facility .container .wrap .image-view .view .swiper-button-next::after,
    .facility .container .wrap .image-view .view .swiper-button-prev::after{
        content: none;
    }
}

@media (min-width: 1200px) {

    /* *{overflow: unset !important;} */
    header {
        height: 120px;
        position: fixed;
        overflow: unset;
        border-bottom-width: 3px;
    }

    header .container {
        /* position: static; */
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
        overflow: unset;
    }

    header nav .container {
        overflow: unset;
    }

    header nav .container h1 {
        width: 300px;
    }

    header nav .container .navbar-toggler {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.25rem 0.75rem;
        border: 0;
        position: relative;
        z-index: 1;
        order: 3;
    }

    header nav .container .navbar-toggler::before {
        width: 1.5rem;
        height: 3px;
        margin-bottom: 0.35rem;
    }

    header nav .container .navbar-toggler span {
        display: block;
        width: 1.5rem;
        height: 3px;
        margin-bottom: 0.35rem;
    }

    header nav .container .navbar-toggler::after {
        width: 1.5rem;
        height: 3px;
    }

    header nav .container .navbar-toggler.on::before {
        transform: translateY(calc(0)) rotate(45deg);
        background-color: #666;
    }

    header nav .container .navbar-toggler.on::after {
        background-color: #666;
        transform: translateY(calc(0)) rotate(-45deg);
    }

    header nav .navigation {
        width: 100%;
        height: 100%;
        padding: 0;
        display: block;
        position: absolute;
        top: 0;
        left: 420px;
        background-image: none;
        order: 2;
        padding: 0;
        overflow: unset;
        max-width: 665px;
    }

    header nav .navigation.on {
        overflow: unset;
    }

    header nav .navigation .container {
        height: 100%;
        padding: 0;
        overflow: unset;
    }

    header nav .navigation .nav-logo {
        display: none;

    }

    header nav .navigation .sub-nav-container {
        height: 100%;
    }

    header nav .navigation .navbar-nav {
        display: flex;
        width: unset;
        flex-direction: row;
        height: 100%;
    }

    header nav .navigation .navbar-nav .nav-item {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        overflow: unset;
        width: 25%;
    }

    header nav .navigation .navbar-nav .nav-item .accordion-header {
        width: 100%;
    }

    header nav .navigation .navbar-nav .nav-item .nav-item-title {
        width: 100%;
        text-align: center;
    }

    header nav .navigation .navbar-nav .nav-item .nav-item-title::after {}

    header nav .navigation .navbar-nav .nav-item a,
    header nav .navigation .navbar-nav .nav-item .nav-item-title {
        color: #000;
    }

    header nav .navigation .navbar-nav .nav-item .nav-item-title.active::after {}

    header nav .navigation .navbar-nav .nav-item .nav-sub .nav-sub-item a:hover {
        color: #46974b;
        font-weight: 500;
    }

    header nav .navigation:not(.on) .navbar-nav .nav-item:hover>div {
        display: block;
    }

    header nav .navigation.on .navbar-nav .nav-item:hover>div {
        display: none;
        display: block;

    }

    header nav .navigation .navbar-nav .nav-item>div {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(255, 255, 255, 0.6);
        width: max-content;
    }

    header nav .navigation .navbar-nav .nav-item .nav-sub {
        padding-left: .5rem;
        display: block;
    }

    header nav .navigation .navbar-nav .nav-item .nav-sub .nav-sub-item {}

    header nav .navigation .navbar-nav .nav-item .nav-sub .nav-sub-item a {
        display: block;
        padding-top: .25rem;
        padding-bottom: .25rem;
    }

    header nav .navigation .navbar-nav .nav-item .nav-sub .nav-sub-item a::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        opacity: 0.25;
        margin-top: .25rem;
    }

    header nav .gnb {
        position: absolute;
        top: calc(100% + 3px);
        left: 0;
        width: 100%;
        height: 260px;
        padding-left: 420px;
    }

    header nav .gnb::after {
        content: '';
        display: block;
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffffff;
        z-index: -1;
        border-bottom: 2px solid #C0C0C0;
    }

    header nav .gnb.on {
        display: block;
    }

    header nav .gnb .lnb-banner {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

    }

    header nav .gnb .gnb-inner {
        padding: 0;
        display: flex;
        width: 100%;
        max-width: 665px;
        margin: 0;
        height: 100%;
    }

    header nav .gnb .gnb-inner .nav-item {
        width: 25%;
        height: 100%;
        position: relative;
    }

    header nav .gnb .gnb-inner .nav-item::after {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -1px;
        background-color: #C0C0C0;
    }

    header nav .gnb .gnb-inner .nav-item .nav-sub {
        padding: 0%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header nav .gnb .gnb-inner .nav-item .nav-sub .nav-sub-item {
        padding: 0;
        width: 100%;
        text-align: center;
        padding: .5rem 0;
    }

    main {
        padding-top: 120px;
    }

    .intro .container .main-copy {
        font-size: 42px;
    }

    .contact {
        position: relative;
    }
    .contact .container {
        position: relative;
    }
    .contact .container .t3{
        width: 400px;
        text-align: left;
    }
    .contact .container .wrap{}
    .contact .container .wrap .address{
        margin-top: 1rem;
    }
    .contact .container .wrap .address .method{
        color: #fff;
        margin-bottom: 1rem;
    }
    .contact .container .wrap .address .method .tit{
        font-weight: 600;
    }
    .contact .container .wrap .address .method .txt{
        font-size: 14px;
        color: #f0f0f0;
    }
    .contact .map{
        width: calc(100% - 530px);
        height: 100%;
        position: absolute;
        top: 0;
        left: 530px;
    }
}

@media (min-width: 1400px) {}